@page "/claims"
@using System.Security.Claims
@using Microsoft.AspNetCore.Components.Authorization
@inject AuthenticationStateProvider AuthenticationStateProvider
<h3>Claims</h3>

<button class="btn btn-primary" @onclick="GetClaimsAndValues">Get Claims</button>

<p>This are all the claims included in the token sent from AD B2C </p>

<ul>
    @foreach (var claim in _claims)
    {
        <li>@claim.Type: @claim.Value</li>
    }
</ul>

<br />
<br />

<strong>@_authMessage</strong>
<br />
<p>@_surnameMessage</p>
<p><strong>User Name is : @_email</strong></p>

@code {
    private int currentCount = 0;
    private IEnumerable<Claim> _claims = Enumerable.Empty<Claim>();
    private string _authMessage;
    private string _surnameMessage;
    private string _email;


    private async Task GetClaimsAndValues()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;


        if (user.Identity.IsAuthenticated)
        {
            _authMessage = $"{user.Identity.Name} is authenticated.";
            _claims = user.Claims;
            _surnameMessage =
                $"Surname: {user.FindFirst(c => c.Type == ClaimTypes.Surname)?.Value}";
            _email = user.FindFirst(c => c.Type == "emails")?.Value;
        }
        else
        {
            _authMessage = "The user is NOT authenticated.";
        }
    }
}
